header{
  background-color: #1F2937;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  display: flex;
  margin: auto;
}

  header .navigation{
    font-size: 18px;
    color: #E5E7EB;
  }
    header .navigation .link1,
    header .navigation .link2,
    header .navigation .link3{
      margin: 0 15px;
      display: inline;
    }

  header .logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    text-align: center;
  }

footer{
  background-color: #1F2937;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 30px;
  text-align: center;
}

section{
  background-color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
  section .section1{
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    padding: 200px;
  }

  section .section2{
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    padding: 200px;
  }

  section .section3{
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    padding: 200px;
    text-align: left;
  }
    section .section3 .quote{
      margin-top: 20px;
      font-size: 36px;
      font-weight: 700;
      text-align: right;
    }

  section .section4{
    padding: 200px;
    font-size: 28px;
  }