.box {
  /*border-style: solid;
  border-color: black;
  border-width: 5px;*/
  text-align: center;
}

.background-box {
  background-color: #1F2937;
  height:1175px;
  width:950px;
}

.first-box {
  background-color: #1F2937;
  color: #fff;
  width: 950px;
  height: 320px;
}

.second-box {
  background-color: white;
  color: #fff;
  width: 950px;
  height: 290px;
}

.third-box {
  background-color: #E5E7EB;
  color: #fff;
  width: 950px;
  height: 290px;
}

.fourth-box {
  background-color: white;
  color: #fff;
  width: 950px;
  height: 210px;
}