header{
  background-color: #1F2937;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  display: flex;
  margin: auto;
}

  header .navigation{
    font-size: 18px;
    color: #E5E7EB;
  }
    header .navigation .link1,
    header .navigation .link2,
    header .navigation .link3{
      margin: 0 15px;
      display: inline;
    }

  header .logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    text-align: center;
  }

footer{
  background-color: #1F2937;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 30px;
  text-align: center;
}

section{
  background-color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
  section .section1{
    background-color: #1F2937;
    padding: 200px;
    margin: auto;
    justify-content: center;
    display: flex;
  }
    section .section1 .text{
      background-color: #1F2937;
      text-align: left;
      color: white;
      margin: 20px;
      font-size: 24px;
    }
      section .section1 .text .header{
        color: white;
        font-size: 48px;
        font-weight: 900;
      }
      section .section1 .text .subheader{
        color: #D1D5DB;
        font-size: 24px;
        font-weight: 300;
      }
      section .section1 .text .button{
        font-size: 24px;
      }
        section .section1 .text .button .buttonbox{
          border-radius: 15px;
          border: 3px white;
          background-color: #3882F6;
          color: white;
          padding: 10px 40px 10px 40px;
          margin-top: 20px;
          width: 90px;
        }
    section .section1 .image{
      background-color: grey;
      color: rgb(209, 209, 209);
      font-size: 22px;
      margin: 15px;
      padding: 150px 200px 150px 200px;
      width: 900px;
    }


  section .section2{
    padding: 80px;
  }
    section .section2 .title{
      text-align: center;
      color: #1F2937;
      font-size: 36px;
      font-weight: 900;
      padding: 0px 0px 50px;
    }
    section .section2 .box1,
    section .section2 .box2,
    section .section2 .box3,
    section .section2 .box4{
      padding: 20px;
      text-align: center;
      display: inline-block;
      font-size: 24px;
      height: 300px;
      width: 300px;
      margin: auto;
    }
      section .section2 .box1 .box{
        display: inline-block;
        height: 250px;
        width: 250px;
        border-radius: 25px;
        border: 6px solid #3882F6;
      }
      section .section2 .box1 .text{
        margin: 20px;
        padding: 1px;
        text-align: center;
        color:grey;
        font-size: 28px;
        font-weight: 300;
      }
      section .section2 .box2 .box{
        display: inline-block;
        height: 250px;
        width: 250px;
        border-radius: 25px;
        border: 6px solid #3882F6;
      }
      section .section2 .box2 .text{
        margin: 20px;
        padding: 1px;
        text-align: center;
        color:grey;
        font-size: 28px;
        font-weight: 300;
      }
      section .section2 .box3 .box{
        display: inline-block;
        height: 250px;
        width: 250px;
        border-radius: 25px;
        border: 6px solid #3882F6;
      }
      section .section2 .box3 .text{
        margin: 20px;
        padding: 1px;
        text-align: center;
        color:grey;
        font-size: 28px;
        font-weight: 300;
      }
      section .section2 .box4 .box{
        display: inline-block;
        height: 250px;
        width: 250px;
        border-radius: 25px;
        border: 6px solid #3882F6;
      }
      section .section2 .box4 .text{
        margin: 20px;
        padding: 1px;
        text-align: center;
        color:grey;
        font-size: 28px;
        font-weight: 300;
      }

  section .section3{
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    padding: 200px;
    text-align: left;
  }
    section .section3 .quote{
      margin-top: 20px;
      font-size: 36px;
      font-weight: 700;
      text-align: right;
    }

  section .section4{
    display: inline-block;
    padding: 200px;
    font-size: 28px;
  }
    section .section4 .bluebox{
      background-color: #3882F6;
      border-radius: 15px;
      display: flex;
      width: 1200px;
      height: 200px;
    }
      section .section4 .bluebox .text{
        padding: 70px 70px 70px 120px;
        text-align: left;
        color: white;
        margin: 0px 0px 1500px 0px;
      }
        section .section4 .bluebox .text .title{
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 10px;
        }
        section .section4 .bluebox .text .subtext{
          font-size: 20px;
          font-weight: 300;
        }
      section .section4 .bluebox .button{
        padding: 80px;
        margin: 0px 0px 0px 80px;
      }
        section .section4 .bluebox .button .buttonbox{
          border-radius: 15px;
          border: 3px solid white;
          background-color: #3882F6;
          color: white;
          font-size: 20px;
          padding: 10px 40px 10px 40px;
        }