header{
  background-color: #1F2937;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  display: flex;
  flex-direction: row;
  text-align: center;
}

header .navigation{
  padding: 10px;
  font-size: 18px;
  color: #E5E7EB;
  text-align: center;
}

header .logo{
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
  text-align: center;
}

footer{
  background-color: #1F2937;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 30px;
  text-align: center;
}

section{
  background-color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
  section .section1{
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    height: 400px;
  }

  section .section2{
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    height: 400px;
  }

  section .section3{
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    height: 400px;
  }

  section .section4{
    height: 400px;
  }