.background-container {
  display: flex;
  flex-direction: column;
}

/* this selector selects all divs inside of .background-container */
.background-container div {
  width: 920px;
  flex: 1 1 auto;
} 

.background-container .one,
.background-container .two,
.background-container .six{
  background: #1F2937
}

.background-container .three,
.background-container .five{
  background: white
}

.background-container .four{
  background: #E5E7EB
}

.background-container .one,
.background-container .six{
  height: 80px;
}

.background-container .two,
.background-container .three,
.background-container .four,
.background-container .five{
  height: 260px;
}


.background-container .two .logo,
.background-container .two .link{
  height: 10px;
  flex-direction: row;
}

.logo{
  color: #F9FAF8;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.link{
  height: 5px;
  color: #F9FAF8;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}